.dropdown:hover .dropdown-menu {
	display: block;
	position: absolute;
	right: 0;
	font-size: 12px;
}

.image-logo {
	max-width: 50px;
	max-height: 50px;
	background: transparent;
}

.image-user {
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
}

.home-page {
	text-align: center;
	font-family: monospace;
	color: white;
	border-color: black;
	padding-top: 100px;
}

.nav-gap {
	padding-top: 100px;
}
h2 {
	color: rgb(41, 43, 44);
	-webkit-text-stroke: 1px black;
	font-size: 26px;
}
h3 {
	color: rgb(41, 43, 44);
	-webkit-text-stroke: 1px black;
	font-size: 20px;
}

table {
	width: 100%;
}

table,
th,
td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	height: 20px;
	background: rgb(41, 43, 44);
	color: white;
	min-width: fit-content;
}

tr:nth-child(even) {
	background-color: #d4d0d0;
}

th:first-child {
	width: 200px;
}

.stats {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-size: 1vw;
	margin-bottom: 30px;
}

.hidden {
	display: none;
}

.info {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-list {
	font-size: 12px;
	margin-top: 20px;
}

.edit-btn-area {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.edit-btn-area > .btn {
	width: 48%;
}
.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }