<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <title>Fantasy NBA</title>
    <link rel="stylesheet" href="/static/app.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              <img class="image-logo" src="/static/images/site-logo.png" alt="Fantasy NBA">
               Fantasy NBA
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            {% if not g.user %}
            <li class="nav-item"><a class="nav-link" href="/signup">Sign up </a></li>
            &nbsp;
            <li class="nav-item"><a class="nav-link" href="/login"> Log in</a></li>
            {% else %}
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle">
                    <img class ="image-user" src="{{ g.user.image_url }}" alt="{{ g.user.username }}"></img>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/users/{{ g.user.id }}/team/new">Create Team</a></li>
                  <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item link-primary" href="/logout">Log out</a></li>
                  <li>
                    <form method="POST" action="/users/delete" class="form-inline">
                      <button class="dropdown-item link-danger">Delete Profile</button>
                    </form>
                  </li>
                </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="nav-gap">
        <div class="container">
          {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        
          {% block content %}
          {% endblock %}
        </div>
      </div>
</body>
</html>