{% extends 'base.html' %}

{% block content %}
    <style id = "background">
        body {
            background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("static/images/background.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>
      <div class="home-page row justify-content-md-center">
        <div class="col-lg-8">
          <h1 class="">Search For NBA Player's Here:</h1>

          <form method="POST" id='searchform'>
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              {{ field(placeholder=field.label.text, class="form-control") }}
              <script>
                $(document).ready(function() {
                    $('#player_names').select2({ 
                        placeholder: "{{ form.player_names.label.text }}",
                        allowClear: true
                    });
                });
                </script> 
            {% endfor %}
            <p></p>
            <button type ="submit" class="btn btn-primary btn-lg">Search</button>
          </form>
      </div>
{% endblock %}