{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <h1 class="">Add Player's Here:</h1>
        <div>
            <form method="POST" id='teamform'>
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <form method ="POST" id="add">
                {{ field(placeholder=field.label.text, class="form-control") }}
                <script>
                    $(document).ready(function() {
                        $('#player_names').select2({ 
                            placeholder: "{{ form.player_name.label.text }}",
                            allowClear: true
                    });
                });
                </script>
                <button id ="addButton" type ="button" class="btn btn-success btn-md">Add Player</button> 
                <button type ="submit" class="btn btn-primary btn-lg">Submit Team</button>
                </form>
                <div id="selectedPlayers">

                </div>
                <script>
                    const loadedPlayers=JSON.parse("{{addedPlayers}}")
                    const myPlayers={}

                    function addPlayer(name){
                        const newParagraph= document.createElement("p")
                        newParagraph.innerText=name
                        return newParagraph
                    }

                    function constructPlayerNameFromId(id){
                        const playerName=Array.from($("#player_name option")).find((o)=>o.value==id).text
                        return playerName
                    }
                    
                    function loadPlayers(){
                        loadedPlayers.forEach((p)=>{
                            const playerName=constructPlayerNameFromId(p)
                            if(!myPlayers[p]){
                                document.querySelector("#selectedPlayers").appendChild(addPlayer(playerName))
                            }
                            myPlayers[p]=playerName
                        })
                    }

                    loadPlayers()
                    
                    $("#addButton").on('click', function(e){
                        e.preventDefault();
                        if(Object.keys(myPlayers).length<13)
                        {
                            const playerId=$("#player_name").val()
                            const playerName=constructPlayerNameFromId(playerId)
                            if(!myPlayers[playerId]){
                                document.querySelector("#selectedPlayers").appendChild(addPlayer(playerName))
                            }
                            myPlayers[playerId] = playerName
                            console.log(myPlayers)
                        }
                    });

                    $("form").on('submit', function(e){
                        e.preventDefault();
                        $.ajax({
                            url: "/users/team/new",
                            type:'POST',
                            contentType: "application/json; charset=utf-8",
                            data:JSON.stringify({players:myPlayers}),
                            success: function (data) {  
                                window.location=window.location.origin
                             }
                            
                        })
                        
                    });
                    </script>
            {% endfor %}

            
            <p></p>
            
            </form>
        </div>
    </div>
  </div>

{% endblock %}