{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 style="margin-top: 100px;">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label}}
          {{ field(placeholder=field.label.text, class="form-control") }}
          <p></p>
        {% endfor %}

        <label>To confirm changes, enter your password:</label>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <p class="text-danger">
            {{ error }}
            </p>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter password to confirm changes", class="form-control") }}
        

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>&nbsp;
          <a href="/home" class="btn btn-outline-info">Cancel</a>
        </div>
      </form>
      <form method="POST" action="/users/delete" class="form-inline">
        <button class="btn btn-danger btn-sm mt-3 float-right">Delete Profile</button>
      </form>
    </div>
  </div>

{% endblock %}